{% extends '../core.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
{% if alert %}
    <div class="alert alert-danger" role="alert">
        <strong>{% translate 'Radās kļūda pieslēgšanās procesā.' %}</strong> {% translate 'Pārliecinaties, ka pareizi ievadījāt datus, vai atkopjat paroli, izmantojot e-pastu.' %}
    </div>
{% endif %}
<div class="display-3">{% translate 'Pieslēgties' %}</div>
<form action="" method="post" class="pt-5">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{% translate 'Lietotājvārds' %}</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">{% translate 'Parole' %}</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary">{% translate 'Pieslēgties' %}</button>
</form>
<div class="pt-3">
  <small><a href="/{{LANGUAGE_CODE}}{% url 'account:register_user' %}">{% translate 'Nav konta?' %}</a></small>
  <br>
  <small><a href="/{{LANGUAGE_CODE}}{% url 'account:password_recover' %}">{% translate 'Aizmirsi paroli?' %}</a></small>
</div>
{% endblock %}