{% extends '../core.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>{% translate 'Radās kļūda paroles atjaunošanas procesā.' %}</strong> {% translate 'Lūdzu pārliecinaties, vai e-pasts ievadīts pareizi.' %}
    </div>
{% endif %}
<div class="display-3">{% translate 'Paroles atgūšana' %}</div>
<form action="/{{LANGUAGE_CODE}}{% url 'account:password_recover' %}" method="post" class="pt-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">{% translate 'E-pasts, uz kura reģistrēts konts.' %}</label>
        {{form.email}}
    </div>
    <button type="submit" class="btn btn-primary">{% translate 'Atgūt' %}</button>
</form>
{% endblock %}