{% extends '../core.html' %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Radās kļūda paroles atjaunošanas procesā.</strong> Lūdzu pārliecinaties, vai e-pasts ievadīts pareizi.
    </div>
{% endif %}
<div class="display-3">Paroles atgūšana</div>
<form action="{% url 'account:password_recover' %}" method="post" class="pt-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">E-pasts, uz kura reģistrēts konts.</label>
        {{form.email}}
    </div>
    <button type="submit" class="btn btn-primary">Atgūt</button>
</form>
{% endblock %}