{% extends '../core.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>{% translate 'Radās kļūda paroles nomaiņas procesā.' %}</strong> {% translate 'Lūdzu pārliecinaties, vai parole atbilst nosacījumiem.' %}
    </div>
{% endif %}
<div class="display-3">{% translate 'Paroles mainīšana' %}</div>
<form action="/{{LANGUAGE_CODE}}{% url 'account:password_change' %}" method="post" class="pt-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">{% translate 'Jaunā parole' %}</label>
        {{form.new_password1}}
    </div>
    <ul>
        <li>{% translate 'Parole nedrīkst būt līdzīga personīgajai informācijai.' %}</li>
        <li>{% translate 'Parolē jābūt vismaz 8 rakstzīmēm.' %}</li>
        <li>{% translate 'Parole nevar būt bieži izmantoja parole. Piemēram: 1234.' %}</li>
        <li>{% translate 'Parole nevar sastāvēt tikai no cipariem.' %}</li>
    </ul>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">{% translate 'Jaunā parole atkārtoti' %}</label>
        {{form.new_password2}}
    </div>
    <button type="submit" class="btn btn-primary">{% translate 'Mainīt paroli' %}</button>
</form>
{% endblock %}