{% extends '../core.html' %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Radās kļūda paroles atkopšanas procesā.</strong> Lūdzu pārliecinaties, vai parole atbilst nosacījumiem.
    </div>
{% endif %}
<div class="display-3">Paroles atkopšana</div>
<form action="" method="post" class="pt-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Jaunā parole</label>
        {{form.new_password1}}
    </div>
    <ul>
        <li>Parole nedrīkst būt līdzīga personīgajai informācijai.</li>
        <li>Parolē jābūt vismaz 8 rakstzīmēm.</li>
        <li>Parole nevar būt bieži izmantoja parole. Piemēram: 1234.</li>
        <li>Parole nevar sastāvēt tikai no cipariem.</li>
    </ul>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Jaunā parole atkārtoti</label>
        {{form.new_password2}}
    </div>
    <button type="submit" class="btn btn-primary">Mainīt paroli</button>
</form>
{% endblock %}