{% extends '../core.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="display-3">{{single.title}}</div>
<div class="lead">
    <span class="badge bg-secondary">{{single.type}}</span>
</div>
<div class="pt-5">
    <img src="{{single.foto}}" width="100%" width="auto">

    <h2 class="pt-3">
        {% translate 'Apraksts' %}
    </h2>
    <p>
      {{single.description}}
    </p>

    <h2 class="pt-3">
        {% translate 'Mācītāji' %}
    </h2>
    <p>
      Mācītājs Alberts
      Mācītājs Juris
      Pāvests Pāvels
    </p>

    <h2 class="pt-3">
        {% translate '360 tūre' %}
    </h2>
    <p>
        <a href="/{{LANGUAGE_CODE}}/church/{{single.slug}}/tour/" class="btn btn-primary">{% translate 'Skatīt' %}</a>
    </p>
</div>
{% endblock %}