{% extends '../core.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="display-3">{% translate 'Baznīcas' %}</div>
<div class="lead">
  {% translate 'Visas baznīcas' %}
</div>
<div class="row row-cols-1 row-cols-md-4 g-4 pt-5">
    {% for single in churches %}
      <div class="col">  
        <div class="card" style="width: 18rem;">
          <img src="{{single.foto}}" class="card-img-top" alt="...">
          <div class="card-body">
            <span class="badge bg-secondary">{{single.type}}</span>
            <h5 class="card-title">{{single.title}}</h5>
            <p class="card-text">{{single.description|slice:":80"}}...</p>
            <a href="/{{LANGUAGE_CODE}}/church/{{single.slug}}" class="btn btn-primary">{% translate 'Skatīt' %}</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}