{% extends '../core.html' %}
{% load i18n %}
{% load static %}

{% block head %}
<style>
    body {
        margin: 0;
      }
      
      .main-container {
        display: flex;
        height: 100vh;
        align-items: center;
        background: #111;
      }
      
      .main-container .image-container {
        /* flex: 1; */
        height: 100%;
      
        position: fixed;
        width: 100%;
      }
      
      .title-center {
        flex: 1;
        text-align: center;
        text-transform: uppercase;
      
        z-index: 100;
        /* text-shadow: 2px 16px 16px rgba(0, 0, 0, 0.3); */
        pointer-events: none;
      }
</style>
{% endblock %}

{% block fullscreen %}
<div class="main-container">
    <div class="display-1 title-center">
      <span class="badge text-bg-light">{% translate 'SVEICINĀTI<br>VIRTUĀLAJĀ<br>BAZNĪCĀ!' %}</span>
    </div>
    <div class="image-container"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js" integrity="sha512-uWKImujbh9CwNa8Eey5s8vlHDB4o1HhrVszkympkm5ciYTnUEQv3t4QHU02CUqPtdKTg62FsHo12x63q6u0wmg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static '360/panolens.min.js' %}"></script>
<script>
    const panoramaImage = new PANOLENS.ImagePanorama("https://i.imgur.com/Dh2kOMm.jpg");
    const imageContainer = document.querySelector(".image-container");

    const viewer = new PANOLENS.Viewer({
        container: imageContainer,
        autoRotate: true,
        autoRotateSpeed: -0.3,
    });

    viewer.add(panoramaImage);
</script>
{% endblock %}
