{% extends '../core.html' %}

{% block content %}
<div class="card text-bg-dark">
    <img src="https://www.redzet.eu/images/large/7/14/V-1116-14.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="card-title text-center display-1">VIRTUĀLĀ BAZNĪCA</h5>
      <p class="card-text text-center lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text text-center"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>
{% endblock %}
