{% extends '../core.html' %}

{% block content %}
<div class="display-3">Informācija</div>
<div class="lead">
    Šeit var apskatīt pēdējos jaunumus saistībā ar šo lapu.
</div>
<hr>
<div class="pt-1">
    <h2>Konts par brīvu</h2>
    <p class="fs-5">Jebkuram lapas apmeklētājam ir iespēja izveidot sev kontu pilnīgi bezmaksas.</p>
</div>
<div class="pt-5">
    <h2>Publiskā sarakse</h2>
    <p class="fs-5">Kopīgā sarakste, kur jebkurš lietotājs, kuram ir konts var runāt par Dievu.</p>
</div>
<div class="pt-5">
    <h2>Grēksūdze</h2>
    <p class="fs-5">Par noteiktu nodevu baznīcai iespējams nosūdzēt savus grēkus vienam no mūsu mācītājiem, kuri labprāt uzklausīs un atbildēs.</p>
</div>
<div class="pt-5">
    <h2>Pilnīga anonimitāte</h2>
    <p class="fs-5">Vienīgais, ko redz citi lietotāji ir lietotājvārds. E-pasti un sarakstes ir 100% konfidenciālas.</p>
</div>
{% endblock %}