{% extends '../core.html' %}
{% load i18n %}

{% block content %}
<div class="display-3">{% translate 'Informācija' %}</div>
<div class="lead">
    {% translate 'Šeit var apskatīt pēdējos jaunumus saistībā ar šo lapu.' %}
</div>
<hr>
<div class="pt-1">
    <h2>{% translate 'Konts par brīvu' %}</h2>
    <p class="fs-5">{% translate 'Jebkuram lapas apmeklētājam ir iespēja izveidot sev kontu pilnīgi bezmaksas.' %}</p>
</div>
<div class="pt-5">
    <h2>{% translate 'Publiskā sarakste' %}</h2>
    <p class="fs-5">{% translate 'Kopīgā sarakste, kur jebkurš lietotājs, kuram ir konts var runāt par Dievu.' %}</p>
</div>
<div class="pt-5">
    <h2>{% translate 'Grēksūdze' %}</h2>
    <p class="fs-5">{% translate 'Par noteiktu nodevu baznīcai iespējams nosūdzēt savus grēkus vienam no mūsu mācītājiem, kuri labprāt uzklausīs un atbildēs.' %}</p>
</div>
<div class="pt-5">
    <h2>{% translate 'Pilnīga anonimitāte' %}</h2>
    <p class="fs-5">{% translate 'Vienīgais, ko redz citi lietotāji ir lietotājvārds. E-pasti un sarakstes ir 100% konfidenciālas.' %}</p>
</div>
{% endblock %}