{% extends '../core.html' %}
{% load i18n %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">{% translate 'Publiskais' %}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">€0<small class="text-muted fw-light"> {% translate 'uz mūžu' %}</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>{% translate 'Pieeja jaunumiem' %}</li>
            <li>{% translate 'Konts par brīvu' %}</li>
            <li>{% translate 'Pieeja publiskajai saraksteis' %}</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">{% translate 'Reģistrējies par brīvu' %}</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">{% translate 'Individuālais' %}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">€20<small class="text-muted fw-light"> {% translate 'par istabu' %}</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>{% translate 'Individuāla grēksūdzes istaba' %}</li>
            <li>{% translate 'Personīga mācītāja pieeja' %}</li>
            <li>{% translate 'Pilnīga anonimitāte' %}</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">{% translate 'Izveidot istabu' %}</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">{% translate 'Dalībnieks' %}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">?<small class="text-muted fw-light">/{% translate 'mēnesī' %}</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>{% translate 'Drīzumā' %}</li>
            <li>...</li>
            <li>...</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-primary">{% translate 'Sazinies ar mums' %}</button>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-6 text-center mb-4">{% translate 'Salīdzināt iespējas' %}</h2>

  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%;"></th>
          <th style="width: 22%;">{% translate 'Publiskais' %}</th>
          <th style="width: 22%;">{% translate 'Individuālais' %}</th>
          <th style="width: 22%;">{% translate 'Dalībnieks' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">{% translate 'Pieeja jaunumiem' %}</th>
          <td>+</td>
          <td>+</td>
          <td>?</td>
        </tr>
        <tr>
          <th scope="row" class="text-start">{% translate 'Publiskā sarakstes' %}</th>
          <td>+</td>
          <td>+</td>
          <td>?</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th scope="row" class="text-start">{% translate 'Individuālā sarakste' %}</th>
          <td></td>
          <td>+</td>
          <td>?</td>
        </tr>
        <tr>
          <th scope="row" class="text-start">{% translate 'Personīga mācītāja pieeja' %}</th>
          <td></td>
          <td>+</td>
          <td>?</td>
        </tr>
        <tr>
          <th scope="row" class="text-start">{% translate 'Pilnīga anonimitāte' %}</th>
          <td></td>
          <td>+</td>
          <td>?</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}