{% extends '../core.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="display-3">{% translate 'Grēksūdze' %}</div>
<div class="lead">
    {% translate 'apraksts' %}
</div>
<div>
    <h1>{% translate 'Tava grēksūdzes izstaba:' %}</h1>
    {% if request.user.is_authenticated %}
        {% if room %}
            <a href="/{{LANGUAGE_CODE}}{% url 'chat:join' %}" type="button" class="btn btn-primary">{% translate 'Pievienoties' %}</a>
        {% else %}
            <a href="/{{LANGUAGE_CODE}}{% url 'chat:payment' %}" type="button" class="btn btn-success">{% translate 'Izveidot' %}</a>
        {% endif%}
    {% else %}
        <p class="fs-5 fw-light"><small>{% translate 'Pieslēdzies, lai apskatītu vai izveidotu istabu!' %}</small></p>
    {% endif %}
</div>
{% endblock %}
