{% extends '../core.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="display-3">{% translate 'Individuālā grēksūdzes istaba' %}</div>
<div class="text-center fs-3 pt-5 pb-5">
  <h2 class="">{% translate 'Nodeva baznīcai:' %} 20€</h2>
</div>
<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=AXvxmiObho1A4BswaV5Gaf3zybg7fnb5WqfYw5a-1AFwwRHkuPob6DkccECJ-p5ZSN1AUDuwbq2Ma3sY&currency=EUR"></script>
<!-- Set up a container element for the button -->
<div id="paypal-button-container" class="pt-3 text-center"></div>
{{ request.user.id|json_script:"user-id" }}
<script>
  function getCookie(cookieName) {
    let cookie = {};
    document.cookie.split(';').forEach(function(el) {
      let [key,value] = el.split('=');
      cookie[key.trim()] = value;
    })
    return cookie[cookieName];
  }
  
  function completePayment(){
    const user_id = JSON.parse(document.getElementById('user-id').textContent);
    const data = { 'user_id': user_id };
    const url = "/{{LANGUAGE_CODE}}{% url 'chat:create' %}"
    const csrftoken = getCookie('csrftoken')
    const reurl = "/{{LANGUAGE_CODE}}{% url 'account:dashboard' %}"

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      },
      body: JSON.stringify(data),
    })
      .then(window.location.replace(reurl))
  }
  
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '20.00' // Can also reference a variable or function
          }
        }]
      });
    },
    // Finalize the transaction after payer approval
    onApprove: (data, actions) => {
      return actions.order.capture().then(function(orderData) {
        // Successful capture! For dev/demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        const transaction = orderData.purchase_units[0].payments.captures[0];
        completePayment();
      });
    }
  }).render('#paypal-button-container');
</script>
{% endblock %}