<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Virtuālā baznīca{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
  </head>
  <body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="https://media.istockphoto.com/vectors/church-line-icon-vector-id899184588?k=20&m=899184588&s=612x612&w=0&h=RSW2ScICWxpZoecCS4h9MGs5Ys5VrzqRzufACQTb2RM=" width="40" height="32">
            <span class="fs-4">Virtuālā baznīca</span>
          </a>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'church:home' %}" class="nav-link px-2 link-dark">Sākums</a></li>
            <li><a href="{% url 'church:newsall' %}" class="nav-link px-2 link-dark">Jaunumi</a></li>
            <li><a href="{% url 'church:info' %}" class="nav-link px-2 link-dark">Informācija</a></li>
            <li><a href="{% url 'chat:index' %}" class="nav-link px-2 link-dark">Grēksūdze</a></li>
            <li><a href="{% url 'church:pricing' %}" class="nav-link px-2 link-dark">Nodevas</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
              <a href="{% url 'account:dashboard' %}" class="btn btn-outline-success me-2">{{user.username}}</a>
              <a href="{% url 'account:logout_user' %}" type="button" class="btn btn-danger">Iziet</a>
            {% else %}
              <a href="{% url 'account:login_user' %}" type="button" class="btn btn-outline-primary me-2">Pieslēgties</a>
              <a href="{% url 'account:register_user' %}" type="button" class="btn btn-primary">Reģistrēties</a>
            {% endif %}
          </div>
        </header>

        <main>
          {% if alert %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Attention!</strong> {{alert}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}  
          {% block content %}{% endblock %}
        </main>

        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Jautājumi</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Komanda</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Kontakti</a></li>
            </ul>
            <p class="text-center text-muted">Virtuālā Baznīca</p>
          </footer>
    </div>
    {% block scripts %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>

